language: python
services:
  - postgresql
addons:
  postgresql: "9.5"
python:
  - "2.7"
  - "3.6"
install:
  - |
    if [[ $TRAVIS_PYTHON_VERSION = 2.7 ]]; then
      pip install -r requirements/dev.txt
    else
      pip install -r requirements/dev-3.txt
    fi
script:
  - if [[ $TRAVIS_PYTHON_VERSION = 2.7 ]]; then flake8; fi
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then mypy flask_phpbb3; fi
  - if [[ $TRAVIS_PYTHON_VERSION = 2.7 ]]; then python setup.py test; fi
